body {
    margin: 0;
    padding: 0;
}

.radios input, .checks input, .selects select {
    display: none;
}

.check_on, .check_off {
    padding: 0 0 0 25px;
    cursor: pointer;
}

.check_on label, .check_off label {
    cursor: pointer;
}

.radios .check_on {
    display: inline-block;
    background: url('radio_on.png') no-repeat;
}

.radios .check_off {
    display: inline-block;
    background: url('radio_off.png') no-repeat;
}

.checks .check_on {
    display: inline-block;
    background: url('check_on.png') no-repeat;
}

.checks .check_off {
    display: inline-block;
    background: url('check_off.png') no-repeat;
}

.selected-index-wrap {
    cursor: pointer;
    width: 150px;
    overflow: hidden;
    display: inline-block;
}

.select-options-wrap {
    position: absolute;
    display: none;
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    width: 150px;
    overflow: hidden;
}

.select-options-wrap li:hover {
    background: #5a8ea6;
}