body {
    margin: 0;
    padding: 0;
}

.radios input, .checks input {
    display: none;
}

.check_on {
    padding: 0 0 0 25px;
}

.check_off {
    padding: 0 0 0 25px;
}

.radios .check_on {
    display: inline-block;
    background: url('radio_on.png') no-repeat;
}

.radios .check_off {
    display: inline-block;
    background: url('radio_off.png') no-repeat;
}

.checks .check_on {
    display: inline-block;
    background: url('check_on.png') no-repeat;
}

.checks .check_off {
    display: inline-block;
    background: url('check_off.png') no-repeat;
}